* {
    font-family: 'Roboto', sans-serif;
}

.blocknav {
    display: block;
    background-color: #f6f6f6;
    height: 880px;
}


@media (max-width: 1200px) {
    .blocknav {
        display: none;
    }
}


.colorblock-1 {
    background-color: #448b00;
    position: absolute;
    top: -15px;
    left: 15px;

}

.desc-top-card {
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    align-self: center;
    padding-left: 10px;
    padding-bottom: 5px;
}

.ico-top-card-desc {
    width: 12px;
}

.hronblock {
    max-width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.hcard-text-2 {
    margin: 0px;
    font-size: 18px;
    font-weight: bolder;
    padding-right: 10px;
}

.adaptdiv {
    margin: 0px;
    padding: 0px !important;
}

.hcard-text {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
    padding-top: 10px;
}

.colorblock-2 {
    background-color:
        #d89e24;
    position: absolute;
    top: -15px;
    left: 15px;
}

.colorblock-3 {
    background-color: #274d97;
    position: absolute;
    top: -15px;
    left: 15px;
}

.colorblock-4 {
    background-color: #db7093;
    position: absolute;
    top: -15px;
    left: 15px;
}

.forcolorblock {
    position: relative;
    /* box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.884); */
    margin: 5px;
    text-align: right;
    background-color: white;
}


.bg-main-col {
    background-color: #eaeaea;
}


.imggraph {
    position: relative;
    overflow: hidden;
}

.imggraph1 {
    /* max-width: 90%; */
    /* min-width: 90%; */
    width: 18%;
    background-color: #448b00;
    position: absolute;
}

.imggraph2 {
    /* max-width: 90%; */
    /* min-width: 90%; */
    width: 18%;
    background-color:
        #d89e24;
    position: absolute;
}

.imggraph3 {
    /* max-width: 90%; */
    /* min-width: 90%; */
    width: 18%;
    background-color: #274d97;
    position: absolute;
}


.cte {
    color: white;

}

.topplockk1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color:
        #d89e24;
    width: 95%;
    position: relative;
    top: -15px;
}

.ptaska {
    padding-right: 5px;
    padding-left: 5px;
}

.bt-task {
    background-color: #d89e24;
    ;
}

.bt-task:hover {
    background-color: #ffae00;
    ;
}

.topplockk2 {
    display: flex;
    flex-direction: column;
    background-color: #274d97;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: -15px;
}

.blocks-graph {
    background-color: white;
    /* box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.884); */
    overflow: hidden;
}

.back-task-emp {
    background-color: white;
    /* box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.884); */
}

.checkers {
    background-color: white;
    /* box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.884); */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blockico-top {
    padding: 10px;
}

.ch_cont {
    margin: 0px !important;
    padding: 0px !important;
    width: 95%;
}

.ico-check-img {
    width: 100%;
    position: relative;
    left: -20px;
}

.graphimg {
    width: 90%;

    position: relative;
    top: -10px;
    padding: 10px;
}

.c1 {
    background-color: #448b00;
}

.c2 {
    background-color: #d89e24;
    ;
}

.c3 {
    background-color: #274d97;
}

.graphcont {
    background-color: white;
    text-align: center;
    margin-bottom: 30px;
}

.text-graph {
    text-align: start;
}

.graph-text-d {
    padding-left: 0px;
    margin: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.checkspan {
    font-size: 11px !important;
}

.icos-check {
    display: flex;
}

.row_ch {
    margin-bottom: 0px !important;
}

.text-employ {
    margin: 0px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.color-tr-th {
    color: #38b498;
}

.salary-table {
    margin-left: 10px !important;
}

.bot-block-size {
    height: 325px !important;
}

.mbb-2 {
    margin-top: 25px;
}


.li-nav-btn {
    width: 100%;
    background-color: #eaeaea;
    color: black;
}

.colorweb-ico-web {}

.li-nav-btn-active {
    width: 100%;
    background-color: #c32056;
}

.li-nav-btn-active:hover {
    background-color: #c32056;
}

.li-nav-btn:hover {
    background-color: #ff0055;
}

.navimages-left {
    width: 20px;
}

.li-nav-btn-active,
.li-nav-btn,
.i-s-n {
    display: flex;
    align-items: center;

}

.left {
    display: flex;
}


/* NEXT PAGE */


.subm-button {
    width: 100%;
    background-color: #c32056;
}

.subm-button:hover {
    background-color: #ff0055;
}

.portrait {
    width: 50%;
    border-radius: 50%;
    position: relative;
    top: -35px;
}

.wrap {
    background-color: white;
    margin-top: 53px;
    text-align: center;
    padding: 5px;
}

.alec-t {
    font-weight: bolder;
}

.topplockk3 {
    display: flex;
    flex-direction: column;
    background-color: #c32056;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: -15px;

}

.form-account {
    padding: 10px;
}